@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.self-reflection-menu-page {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
        width: 80%;
        max-width: 768px;
    }

    &__title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    &__img {
        width: 12.5rem;
        border-radius: 5px;
        margin-bottom: 0.25rem;
    }

    &__img-label {
        margin-bottom: 1.5rem;
        font-size: 0.75rem;
    }

    &__heading {
        margin-bottom: 1rem;
    }

    &__description {
        text-align: center;
        margin-bottom: 1rem;
    }

    .self-reflection-activity {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        text-decoration: none;
        color: black;
        background-color: $light-blue;
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem;
        width: 100%;

        &__title,
        &__description {
            text-align: center;
        }

        &__title {
            font-size: 1.5rem;
        }

        &__description {
            font-size: 1rem;
        }
    }
}