// media query screen sizes
    $screen-width-tablet: 768px;
    $screen-width-desktop: 1280px;

// Color Scheme 1
    $very-light-blue: #EBF5FF; // body element background   
    $light-blue: #B3D7FF; // header and button background
    $medium-blue: #85C0F0; // navbar item bottom border color
    $darkened-light-blue: #337AB7; // border color
    $white: #FFFFFF; // chat display and drawing canvas background
    $black: #000000; // font color
    $light-gray: #d3d3d3; // box shadows