@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.self-expression-page {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: $screen-width-tablet;
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem;
        animation: fade-in 1s;

        @include tablet {
            padding: 2rem;
            border: 1px solid $light-blue;
            box-shadow: 5px 5px 10px $medium-blue;
        }
    }

    &__title {
        font-size: 2rem;
        text-align: center;
    }

    &__activity {
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem;
        width: 90%;

        @include tablet {
            width: 95%;
        }
    }
}