@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
        width: 100%;  
        max-width: $screen-width-tablet;
        animation: fade-in 1s;

        @include tablet {
            padding: 2rem;
            border: 1px solid $light-blue;
            box-shadow: 5px 5px 10px $medium-blue;
        }
    }

    &__img {
        width: 12.5rem;
        margin-top: 1rem;
        margin-bottom: 0;
        border-radius: 5px;
    }

    &__img-label {
        margin: 1.5rem;
        margin-top: 0.25rem;
        font-size: 0.75rem;
    }

    &__title {
        font-size: 2.25rem;
        text-align: center;
    }

    &__slogan {
        font-style: italic;
        margin: 0.5rem 0;
        text-align: center;
    }

    &__quote {
        font-size: 1rem;
        width: 80%;
        text-align: center;
    }

    &__quote-author {
        font-size: 1rem;
        font-style: italic;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    &__welcome-message {
        font-size: 1rem;
        margin: 1rem 0;
        width: 80%;
        text-align: center;
    }

    .activity-category {
        width: 100%;
        padding: 1rem;

        &__title {
            text-align: center;
            margin: 1rem 0;
            font-size: 1.75rem;
        }

        &__row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .category {
            text-decoration: none;
            background-color: $light-blue;
            border-radius: 5px;
            color: $black;
            margin: 1rem 0;
            padding: 1rem;

            &__title,
            &__description {
                margin: 0.5rem;
                text-align: center;
            }

            &__title {
                font-size: 1.5rem;
            }

            &__description {
                font-size: 1rem;
            }

            &:hover {
                background-color: $medium-blue;
            }
        }
    }
}