@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
        width: 100%;  
        max-width: $screen-width-tablet;
    }

    &__img {
        width: 15rem;
        margin: 1.5rem;
    }

    &__title {
        font-size: 2rem;
        text-align: center;
    }

    &__quote {
        font-size: 1rem;
        width: 90%;
    }

    &__quote-author {
        font-size: 1rem;
        font-style: italic;
        margin-bottom: 1rem;
    }

    &__welcome-message {
        font-size: 1rem;
        margin: 1rem 0;
        width: 90%;
    }

    .activity-category {
        &__title {
            text-align: center;
            margin: 1rem 0;
            font-size: 1.5rem;
        }

        &__category {
            margin: 1rem 0;
            font-size: 1.25rem;
            text-align: center;
        }

        &__row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .category {
            text-decoration: none;
            background-color: $primary-light-blue;
            border-radius: 5px;
            flex: 1;
            color: black;
            margin: 0.5rem 0;
            padding: 0.5rem;

            &__title,
            &__description {
                margin: 0.5rem;
                text-align: center;
            }

            &__title {
                font-size: 1.25rem;
            }

            &__description {
                font-size: 0.9rem;
            }
        }
    }
}