@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
        width: 100%;  
    }

    &__title {
        font-size: 2rem;
        text-align: center;
    }

    .activity-category {
        &__title {
            text-align: center;
            margin: 1rem 0;
            font-size: 1.5rem;
        }

        &__category {
            margin: 1rem 0;
            font-size: 1.25rem;
            text-align: center;
        }

        &__row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .category {
            text-decoration: none;
            border: 1px solid black;
            border-radius: 5px;
            flex: 1;
            color: black;
            margin: 0.5rem 0;
            padding: 0.5rem;

            &__title,
            &__description {
                margin: 0.5rem;
                text-align: center;
            }

            &__title {
                font-size: 1rem;
            }

            &__description {
                font-size: 0.8rem;
            }
        }
    }
}