@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.chatroom {
    display: flexbox;
    
    &__display {
        background-color: $white;
        border: 1px solid $darkened-light-blue;
        border-radius: 5px;
        width: 100%;
        height: 15rem;
        margin-bottom: 1rem;
        overflow: scroll;
    }

    .prompt {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        &__input {
            flex: 8;
            padding: 0.75rem;
            resize: none;
            height: 2.5rem;
            border-radius: 5px;
            border: 1px solid $darkened-light-blue;

            &--error {
                border-color: red;
            }
        }

        &__btn {
            flex: 2;
            border: none;
            border-radius: 5px;
            background-color: $light-blue;
            font-size: 1rem;
        }
    }

    &__error-message {
        margin: 1rem 0 0 1rem;
        color: red;
        font-size: 0.75rem;
        text-align: center;
    }
}