@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.self-expression-menu-page {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        margin: 1rem;
        width: 80%;
        max-width: $screen-width-tablet;
        animation: fade-in 1s;

        @include tablet {
            padding: 3rem;
            border: 1px solid $light-blue;
            box-shadow: 5px 5px 10px $medium-blue;
        }
    }

    &__title {
        font-size: 2rem;
        text-align: center;
    }

    &__description {
        text-align: center;
    }

    &__img {
        width: 12.5rem;
        border-radius: 5px;
    }

    .self-expression-activity {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        text-decoration: none;
        color: $black;
        background-color: $light-blue;
        border-radius: 5px;
        padding: 1rem;
        margin: 0.5rem;
        width: 100%;

        &__title,
        &__description {
            text-align: center;
        }

        &__title {
            font-size: 1.5rem;
        }

        &__description {
            font-size: 1rem;
        }

        &:hover {
            background-color: $medium-blue;
        }
    }
}