@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.self-reflection-page {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: 100%;
        max-width: $screen-width-tablet;
        height: auto;
        border-radius: 5px;
        display: inline-block;
        padding: 1rem;
        margin: 1rem;
        animation: fade-in 1s;

        @include tablet {
            padding: 2rem;
            border: 1px solid $light-blue;
            box-shadow: 5px 5px 10px $medium-blue;
        }
    }

    &__title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}